<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="language" value="cn" />
    <add key="needipfor0000" value="yes" />
    <add key="noLanguage" value="Please get NEWEST version or ADD your language" />
    <add key="noLanguageSet" value="No language settings you choose" />
  </appSettings>
</configuration>
